<table class="hud">
<tr>
    <td>
    <button class="elem-ui-btn elem-power-btn btn elem-ui-btn-first" id="elem-power-btn"><i class="fa fa-power-off" aria-hidden="true"></i> Start</button>
    <button class="elem-ui-btn btn" id="elem-strict-btn"><i class="fa fa-toggle-off" aria-hidden="true"></i> Strict</button>
    <button class="elem-ui-btn btn" id="elem-restart-btn"><i class="fa fa-refresh" aria-hidden="true"></i> Restart</button>
    <br>
    <td>
    <h1 id="elem-output-score" class="elem-output-score"><br/></h1>
</table>
<h1 id="elem-output-turn" class="elem-output-turn">Your Turn</h1>
<h2 id="elem-output-feedback" class="elem-output-feedback">Well Done<br></h2><br>
