body {
  background-color: #FFF;
  background-image: url("https://www.transparenttextures.com/patterns/tiny-grid.png");
}

.btn, button {
  cursor: pointer !important;
}

.container {
  border: $border-guide $color-key-blue-light;
}

.container#elem-container {
  height: 60%;
  margin-top: -20px;
}

.container#main-container {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.elem-btn-blue {
  background-color: $color-key-blue;
  border-radius: 0% 0% 100% 0%;
}

.elem-btn-blue:active,
.elem-btn-blue-pressed {
  background-color: $color-key-blue-light;
}

.elem-btn {
  border: 2px solid $color-mid;
  cursor: pointer;
  height: 130px;
  outline: none;
  width: 130px;
}

.elem-btn-red {
  background-color: $color-key-red;
  border-radius: 0% 100% 0% 0%;
}

.elem-btn-red:active,
.elem-btn-red-pressed {
  background-color: $color-key-red-light;
}

.elem-btn-yellow {
  background-color: $color-key-yellow;
  border-radius: 0% 0% 0% 100%
}

.elem-btn-yellow:active,
.elem-btn-yellow-pressed {
  background-color: $color-lightest;
}

.elem-btn-green {
  background-color: $color-key-green;
  border-radius: 100% 0% 0% 0%;
}

.elem-btn-green:active,
.elem-btn-green-pressed {
  background-color: $color-key-green-light;
}

.elem-grid-table {
  border: $border-guide $color-darkest;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  margin-top: 1px;
  padding: 0;
  right: 0;
}

.elem-grid-table-td {
  border: 1px solid $color-key-blue-light;
  padding: 0;
  margin: 0;
}

.elem-gameboard {
  background: $color-dark;
  border: $border-guide $color-darkest;
  border-radius: 50%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  right: 0;
  width: 310px;
  z-index: -1;
}

.elem-output-feedback, .elem-output-turn {
  border: $border-guide orange;
  margin: 0;
  text-align: center;
}

.elem-output-turn {
  font-size: 45px;
  font-weight: 300;
  padding-top: 35px;
}

.elem-output-title-screen {
  padding-top: 120px;
}

.elem-output-game-screen {
  padding-top: 35px;
}

.elem-output-feedback, .elem-output-score {
  font-size: 25px;
  font-weight: 300;
}

.elem-footer {
  border: $border-guide $color-key-green-light;
  bottom: 0;
  font-size: 7px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  text-align: center;
}

.elem-ui-btn {
  border-radius: 0 !important;
}

.hud {
  border: $border-guide $color-key-red;
  margin-top: 5px;
  width: 100%;
}
