/* Colours:
 ***************************/

$color-main: #337AB7;
$color-darkest: #000;

$color-background: lighten( $color-main, 60% );
$color-btn-primary: $color-main;
$color-btn-primary-active: lighten( $color-btn-primary, 10% );
$color-highlight: lighten( $color-btn-primary, 50% );
$color-hyperlink: $color-main;
$color-progress: lighten( $color-btn-primary, 50% );

/* Misc CSS:
 ***************************/
$border-radius-none: 0px;
$border-btn: 1px solid darken( $color-btn-primary, 10% );

/* Font CSS:
 ***************************/
$font-weight-standard: 300;
