/* Borders (for guidelines (make 0px in production))
 ***************************/

$border-guide: 0px solid;


/* Shades:
 ***************************/

$color-darkest: #000;
$color-dark: #222;
$color-lightest: #FFF;
$color-mid: #CCC;


/* Coloured-keys/btns:
 ***************************/

$color-key-blue: #0000FF;
$color-key-blue-light: 	#00FFFF;

$color-key-green: #008000;
$color-key-green-light: #00FF00;

$color-key-red: #FF0000;
$color-key-red-light: #FFB6C1;

$color-key-yellow: #FFFF00;
$color-key-yellow-light: #FFFFE0;
